// ========================================Reset===========================================

@use 'reset';

// ========================================Modulos===========================================

@use 'colors'as *;

// La operacion logica "/" fue eliminada en sass 2.0.0 por ende usamos Math

@use "sass:math";

// RFS de boostrap para el texto responsivo (es lo unico que logro rescatar de boostrap)

@use 'rfs'as *;

// ========================================Clases de los colores===========================================

$color:(violeta: $violeta,
    violeta__o: $violeta__o,
    gris: $gris,
    negro: $negro,
    azul__o: $azul__o,
    amarillo: $amarillo,
    "white": $white,
    "pink": $pink,
    "tomato": $tomato,
    "lightgreen": $lightgreen);

// Clases

@each $colors,
$color in $color {

    .#{$colors} {

        color: $color;

    }

}

// ========================================Margins===========================================

$margins:(0: 0rem,
    1: 0.625rem,
    2: 1.25rem,
    3: 1.875rem,
    4: 2.5rem);

@each $m,
$margins in $margins {

    .m-#{$m} {

        margin: $margins;

    }

}

// ========================================Textos===========================================


// Fuente: Impact

@font-face {
    font-family: oswald;
    src: url(../fonts/Oswald.ttf) format('truetype');
}

// Textos responsivos

.text {

    font-family: oswald;

    &__xxs {

        @include font-size(0.9375rem);
        @extend.text;

    }

    &__xs {

        @include font-size(1.25rem);
        @extend.text;

    }

    &__s {

        @include font-size(2.5rem);
        @extend.text;

    }

    &__l {

        @include font-size(3.75rem);
        @extend.text;

    }



}



// ========================================Medias===========================================

// Puntos de quiebre

$breakps:(
    sm: 768px,
    md: 1020px,
    lg: 1200px);

// Media

@mixin media-up ($breakp) {

    @media screen and (max-width: map-get($breakps, $breakp)) {
        @content;
    }


}

// ========================================Box===========================================

@mixin box ($width, $height, $color, $br, $ar : none) {

    width: $width;
    height: $height;
    background-color: $color;
    border-radius: $br;
    aspect-ratio: $ar;

}

// ========================================Flexbox===========================================

@mixin flexbox ($fdirection, $fcontent, $fitems, $i : 0) {

    display: flex;
    flex-wrap: nowrap;
    flex-direction: $fdirection;
    justify-content: $fcontent;
    align-items: $fitems;
    $important: $i;

    @if $important==0 {

        @include media-up(sm) {

            flex-direction: column;

        }

    }

}

// ========================================Grid===========================================

@mixin grid ($normal, $columns, $rows, $colg, $rowg, $ji : center, $ai : center) {

    display: grid;
    height: auto;
    min-height: 100%;


    @if $normal==1 {

        grid-template-columns: repeat($columns, 1fr);
        grid-template-rows: repeat($rows, 1fr);

        // Responsive automatico solo si el grid es automatico

        @include media-up (md) {

            grid-template-columns: math.div($columns, $columns)+fr;
            grid-template-rows: ($columns * $rows)+fr;

        }

    }

    @else {

        // Contenido especial

        @content;

    }

    column-gap: $colg;
    row-gap: $rowg;
    justify-items: $ji;
    align-items: $ai;

}


// ========================================Animaciones===========================================

// Borde rainbow

@keyframes rainborder {

    0% {
        border: white solid 1px;
    }

    10% {
        border: rgb(199, 59, 59) solid 1px;
    }

    20% {
        border: yellow solid 1px;
    }

    30% {
        border: green solid 1px;
    }

    40% {
        border: blue solid 1px;
    }

    50% {
        border: orange solid 1px;
    }

    60% {
        border: tomato solid 1px;
    }

    70% {
        border: cyan solid 1px;
    }

    80% {
        border: purple solid 1px;
    }

    90% {
        border: yellowgreen solid 1px;
    }

    100% {
        border: rgb(189, 65, 48) solid 1px;
    }
}

// Background

@keyframes rainbk {

    0% {
        background-color: white;
    }

    10% {
        background-color: rgb(199, 59, 59);
    }

    20% {
        background-color: yellow;
    }

    30% {
        background-color: green;
    }

    40% {
        background-color: blue;
    }

    50% {
        background-color: orange;
    }

    60% {
        background-color: tomato;
    }

    70% {
        background-color: cyan;
    }

    80% {
        background-color: purple;
    }

    90% {
        background-color: yellowgreen;
    }

    100% {
        background-color: rgb(189, 65, 48);
    }
}

// ========================================Botones===========================================

.boton {


    color: $violeta;
    border: $violeta solid 1px;
    border-radius: 60px;
    transition: all 0.2s;
    text-decoration: none;
    @include flexbox(row, center, center, 1);
    cursor: pointer;

    @media (hover: hover) {

        &:hover {

            background-color: white;
            color: $violeta__o;
            transform: scale(1.25);
            transition: all 0.2s;

        }

    }

    @media (hover: none) {

        &:active {

            background-color: white;
            color: $violeta__o;
            transform: scale(1.25);
            transition: all 0.2s;

        }

    }

    &__navbar {

        width: 40px;
        height: auto;
        aspect-ratio: 1/1;
        @extend.boton;

        &__rainbow {

            @extend.boton__navbar;
            animation: 4s rainborder linear infinite;

            @media (hover: hover) {

                &:hover {

                    animation: 4s rainbk linear infinite;
                    border: $violeta solid 1px;
                    color: white;
                    transform: scale(1.25);
                    transition: all 0.2s;

                }

            }

            @media (hover: none) {

                &:active {

                    background-color: white;
                    color: $violeta__o;
                    transform: scale(1.25);
                    transition: all 0.2s;

                }

            }


        }

    }

    &__normal {

        width: auto;
        height: auto;
        aspect-ratio: 16/5;
        padding: 10px;
        @extend.boton;
        background-color: transparent;

        &__rainbow {

            animation: 4s rainborder linear infinite;
            @extend.boton__normal;

        }

    }

    &__fill {

        @extend.boton;

        background-color: $violeta;
        border: $gris solid 1px;
        color: $gris;

        @media (hover: hover) {

            &:hover {

                border: $violeta solid 1px;
                color: $violeta__o;
                background-color: white;
                transform: scale(1.25);
                transition: all 0.2s;

            }

        }

        @media (hover: none) {

            &:active {

                border: $violeta solid 1px;
                color: $violeta__o;
                background-color: white;
                transform: scale(1.25);
                transition: all 0.2s;

            }

        }

    }

}




// ========================================Body===========================================

body {

    background: linear-gradient(180deg, rgba(14, 22, 32, 1) 0%, rgba(22, 14, 32, 1) 100%);

    // Flexbox

    @include flexbox(column, center, center, 1);

}



// ========================================Header===========================================

// Base

.global__header {

    @include flexbox(row, space-between, center, 1);

    height: 120px;
    width: 80%;
    max-width: 1280px;

    @include media-up(md) {

        width: 100%;

    }

}

// Logo

.header__logo {

    order: 1;

    height: 80px;
    width: auto;
    aspect-ratio: 1/1;
    background-image: url('../logo.png');
    background-size: contain;

}

// navbar

.header__navbar {

    @include flexbox(row, space-between, center, 1);

    width: 200px;
    list-style: none;
    margin-right: 20px;

}

// ========================================Main===========================================

// Base

.index__main {

    @include flexbox(column, flex-start, center, 1);
    height: auto;
    width: 80%;
    max-width: 1280px;

    @include media-up(md) {

        width: 100%;

    }

}

// Rick

.index__rick {

    width: 28%*3;
    height: auto;
    aspect-ratio: 16/8;
    position: relative;
    z-index: 2;
    border-radius: 5px;

    @include media-up(md) {

        width: 100%;

    }

}

// blob

.index__blob {

    width: 16%*5;
    height: auto;
    aspect-ratio: 16/14;
    background-image: url(../images/blobs/primero.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;

    @include flexbox(column, center, center, 1);

    @include media-up(md) {

        width: 100%;

    }
}

// Navegador de redes

.global__social {

    height: 50px;
    width: 100%;
    position: sticky;
    top: 20%;

    @include media-up(md) {

        @include flexbox(row, center, center, 1);
        margin: 10px;
        position: inherit;
        top: inherit;

    }


}

// Barra

.social__bar {

    position: relative;
    background-color: #978bda3b;
    left: -4rem;
    height: 40px;
    width: 200px;
    transform: rotate(-90deg);
    border-radius: 10px;

    @include media-up(md) {

        position: inherit;
        transform: rotate(0deg);

    }

    @include flexbox(row, center, center, 1);

}

// Lista

.bar__lista {

    width: 100%;
    padding: 0;
    list-style: none;
    @include flexbox(row, space-evenly, center, 1);

}

// Skills


.index__skills {

    width: 80%;
    height: auto;

    @include grid(1, 2, 2, 20px, 10px);

    @include media-up (md) {

        width: 100%;

    }

}

// boxes

.skills__section {

    @include box(80%, auto, white, 20px, 1.6);
    max-width: 330px;

    border: $gris solid 1px;
    background-color: $negro;

    @include flexbox(column, flex-start, flex-start, 1);

}

.section__title {

    @include flexbox(row, center, center, 1);
    width: 100%;

}

.section__content {

    @include flexbox(row, space-evenly, center, 1);
    width: 100%;
    height: 7rem;
}




// ========================================footer===========================================

// Base

.global__footer {

    @include flexbox(row, space-between, center, 1);
    height: 180px;
    width: 80%;
    max-width: 1280px;
    border-radius: 2rem;
    border-top: $violeta solid 1px;

    @include media-up(md) {

        width: 100%;

    }

}

// Footer section (segunda capa de alineacion con flex)

.footer__section {

    @include flexbox(row, flex-start, center, 1);
    width: 33%;

    &--center {

        @include flexbox(row, center, center, 1);
        width: 33%;

    }

    &--end {

        @include flexbox(row, flex-end, center, 1);
        width: 33%;

    }

}

.footer__logo__img {

    height: 80px;
    width: 80px;
    aspect-ratio: 1/1;
    background-image: url('../logo.png');
    background-size: contain;

}

// Footer boton

.footer__boton {

    justify-content: flex-start;
    @extend.text__xs;

    @include media-up(sm) {

        // Usamos el include porque no podemos extender en un media

        @include font-size(16px);

    }

}

// ! A partir de aqui todo es para Comentarios.html ==============================================


// Base

.comentarios__main {

    @extend.index__main;

}

// Grid

.comentarios__grid {

    width: 80%;
    @include grid(1, 2, 2, 20px, 10px, center, center);
}

// Comentarios (cajas)

.comentario {

    @include box(80%, auto, $negro, 20px, 1.2);
    border: $gris solid 1px;

    @include flexbox(column, center, center, 1);

    &__2 {

        @extend.comentario;

    }

    &__3 {

        @extend.comentario;

    }

    &__4 {

        @extend.comentario;

    }

}

// Imagenes de perfil

.cfoto__img{

    background-image: url(../images/perfiles/chica1.jpg);
    background-size: contain;
    width: 3rem;
    height: 3rem;
    border-radius: 3rem;
    border-top: $gris solid 1px;
    margin-left: 1rem;

    &--2{

        @extend.cfoto__img;
        background-image: url(../images/perfiles/chico1.jpg);

    }
    &--3{

        @extend.cfoto__img;
        background-image: url(../images/perfiles/chico2.jpg);

    }
    &--4{

        @extend.cfoto__img;
        background-image: url(../images/perfiles/toreto.jpg);

    }
}

// Comentario grid

.comentario__grid {


    @include grid(0, 1, 3, 0px, 0px, center, center) {

        grid-template-columns: 100%;
        grid-template-rows: 4rem 1fr 3rem;


    }

}

// Foto

.comentario__foto {

    @include flexbox(row, flex-start, center, 1);
    width: 100%;


}

// Comentario texto

.comentario__texto {

    @include flexbox(row, flex-start, center, 1);



}

// Footer de los comentarios

.comentario__footer {

    @include flexbox(row, space-between, center, 1);
    width: 100%;

}

// ! A partir de aqui todo es para Proyectos.html ==============================================

// BAse

.proyectos__main{

    @extend.index__main;

}

// Grid

.proyectos__grid{

    height: auto;
    width: 80%;

    @include grid(1, 2, 2, 30px, 15px, center, center);

}



// Proyectos

.proyectos__section{

    @include box(100%, inherit, transparent, 20px, 1);
    @include flexbox(row, flex-start, center, 1);
    position: relative;

}

// Paginas

.pagina{

    @include box(60%, auto, white, 20px, 0.5555555556);
    z-index: 1;
    border: $gris solid 2px;
    background-image: url(../images/proyectos/Coder.png);
    background-position: left;
    background-size: cover;

    &__2{

        @extend.pagina;
        background-image: none;
        background-image: url(../images/proyectos/gatitos.png)

    }

    &__3{

        @extend.pagina;
        background-image: none;
        background-image: url(../images/proyectos/lenguajetool.png)

    }

    &__4{

        @extend.pagina;
        background-image: none;
        background-image: url(../images/proyectos/twitter.png)

    }

}


// Descricpciones

.desc__pagina{

    @include box(70%, auto, $negro, 20px, 2);
    position: absolute;
    z-index: 2;
    right: 0px;
    border: $gris solid 1px;

    
}

// grid de las descripciones

.pagina__grid{

    @include grid(0, 1, 2, 20px, 0px, flex-start, center){

        grid-template-columns: 100%;
        grid-template-rows: 3rem 1fr 3rem;

    }

}

// ! A partir de aqui todo es para Precios.html ==============================================

// Base

.precios__main{

    @extend.index__main;

}

// Grid

.precios__grid{

    width: 80%;
    @include grid(1, 3, 1, 40px, 20px, center, center);

}

// Contenedor del grid y primera capa de posicionamiento

.precios__section{

    @include box(100%, auto, transparent, 20px, none);
    @include flexbox(row, center, center, 1);

}

// Segunda capa de posicionamiento y carta de precios

// Precios

.section{

    @include box(80%, auto, $negro, 20px, 0.5555555556);
    @include grid(0, 0, 0, 0px, 0px, center, center){

        grid-template-columns: 1fr;
        grid-template-rows: 4rem 1fr 4rem;

    }

    z-index: 1;
    border: $gris solid 2px;
    position: relative;
    max-width: 300px;

    &__estandar{

        @extend.section;

    }

    &__premium{

        @extend.section;

    }

    &__gold{

        @extend.section;

    }

}

// Header del section

.section__header{

    @include flexbox(row, center, center, 1);

}

.sheader{

    &__estandar{

        color: $violeta;

    }

    &__premium{

        color: rgb(223, 43, 82);

    }

    &__gold{

        color: $amarillo;

    }


}

// Main info del section

.section__info{

    @include box(120%, 100%, white, 10px, none);
    @include flexbox(row, center, center, 1);
    animation: 4s rainborder linear infinite;
    position: relative;

}

// Footer

.section__footer{

    @include flexbox(row, center, center, 1);

}


// ! A partir de aqui todo es para Contacto.html ==============================================

// Base

.contacto__main{

    @extend.index__main;

}

// Controles de estilo para formularios

.form__controls{

    padding: 15px;
    width: 60%;
    text-align: center;
    background-color: white;
    border: $violeta solid 1px;
    border-radius: 10px;
    color: $negro;
    margin: 10px;
}

// Container

.contacto__form__container{

    @include flexbox(column, center, center, 1);
    width: 80%;
    border-radius: 20px;
    padding: 20px;
    margin: 40px 0px 40px 0px;
    background-color: #04040833;


}

// Formulario

.contacto__form{

    @include flexbox(column, center, center, 1);
    width: 100%;


}

// Terminos

.contacto__terminos{

    @include flexbox(row, center, center, 1);
    width: 100%;


}

// Sumbit

.contacto__sumbit{

    @extend.contacto__terminos;

}














// ! ========================================Debug===========================================

// * {

//     border: red solid 1px;

// }