// ========================================Base===========================================

@use '../base/base' as *;
@use '../utilidades/rfs' as *;

// ========================================Body===========================================

body {

    background: linear-gradient(180deg, rgba(14, 22, 32, 1) 0%, rgba(22, 14, 32, 1) 100%);

    // Flexbox

    @include flexbox(column, center, center, 1);

}



// ========================================Header===========================================

// Base

.global__header {

    @include flexbox(row, space-between, center, 1);

    height: 120px;
    width: 80%;
    max-width: 1280px;

    @include media-up(md) {

        width: 100%;

    }

}

// Logo

.header__logo {

    order: 1;

    height: 80px;
    width: auto;
    aspect-ratio: 1/1;
    background-image: url('../logo.png');
    background-size: contain;

}

// navbar

.header__navbar {

    @include flexbox(row, space-between, center, 1);

    width: 200px;
    list-style: none;
    margin-right: 20px;

}

// ========================================Main===========================================

// Base

.index__main {

    @include flexbox(column, flex-start, center, 1);
    height: auto;
    width: 80%;
    max-width: 1280px;

    @include media-up(md) {

        width: 100%;

    }

}

// Rick

.index__rick {

    width: 28%*3;
    height: auto;
    aspect-ratio: 16/8;
    position: relative;
    z-index: 2;
    border-radius: 5px;

    @include media-up(md) {

        width: 100%;

    }

}

// blob

.index__blob {

    width: 16%*5;
    height: auto;
    aspect-ratio: 16/14;
    background-image: url(../images/blobs/primero.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;

    @include flexbox(column, center, center, 1);

    @include media-up(md) {

        width: 100%;

    }
}

// Navegador de redes

.global__social {

    height: 50px;
    width: 100%;
    position: sticky;
    top: 20%;

    @include media-up(md) {

        @include flexbox(row, center, center, 1);
        margin: 10px;
        position: inherit;
        top: inherit;

    }


}

// Barra

.social__bar {

    position: relative;
    background-color: #978bda3b;
    left: -4rem;
    height: 40px;
    width: 200px;
    transform: rotate(-90deg);
    border-radius: 10px;

    @include media-up(md) {

        position: inherit;
        transform: rotate(0deg);

    }

    @include flexbox(row, center, center, 1);

}

// Lista

.bar__lista {

    width: 100%;
    padding: 0;
    list-style: none;
    @include flexbox(row, space-evenly, center, 1);

}

// Skills


.index__skills {

    width: 80%;
    height: auto;

    @include grid(1, 2, 2, 20px, 10px);

    @include media-up (md) {

        width: 100%;

    }

}

// boxes

.skills__section {

    @include box(80%, auto, white, 20px, 1.6);
    max-width: 330px;

    border: $gris solid 1px;
    background-color: $negro;

    @include flexbox(column, flex-start, flex-start, 1);

}

.section__title {

    @include flexbox(row, center, center, 1);
    width: 100%;

}

.section__content {

    @include flexbox(row, space-evenly, center, 1);
    width: 100%;
    height: 7rem;
}




// ========================================footer===========================================

// Base

.global__footer {

    @include flexbox(row, space-between, center, 1);
    height: 180px;
    width: 80%;
    max-width: 1280px;
    border-radius: 2rem;
    border-top: $violeta solid 1px;

    @include media-up(md) {

        width: 100%;

    }

}

// Footer section (segunda capa de alineacion con flex)

.footer__section {

    @include flexbox(row, flex-start, center, 1);
    width: 33%;

    &--center {

        @include flexbox(row, center, center, 1);
        width: 33%;

    }

    &--end {

        @include flexbox(row, flex-end, center, 1);
        width: 33%;

    }

}

.footer__logo__img {

    height: 80px;
    width: 80px;
    aspect-ratio: 1/1;
    background-image: url('../logo.png');
    background-size: contain;

}

// Footer boton

.footer__boton {

    justify-content: flex-start;
    @extend.text__xs;

    @include media-up(sm) {

        // Usamos el include porque no podemos extender en un media

        @include font-size(16px);

    }

}