// ========================================Base===========================================

@use '../base/base' as *;

// Extension del index

@use './index' as *;

// ========================================Precios===========================================

// Base

.precios__main{

    @extend.index__main;
    margin-bottom: 100px;

}

// Banner de introducción

.precios__banner{

    width: 100%;
    height: auto;
    min-height: 400px;
    background-color: white;
    padding: 15px;
    box-sizing: border-box;
    position: relative;
    margin: 350px 0px 350px 0px;
    z-index: 1;

    // Banner top

    &__top{

        width: 100%;
        height: 450px;
        background-image: url(../images/blobs/separadores/s__top.svg);
        background-repeat: no-repeat;
        background-size: cover;
        position: absolute;
        top: 20px;
        z-index: -10;


    }

    // Banner bot

    &__bot{

        width: 100%;
        height: 450px;
        background-image: url(../images/blobs/separadores/s__bot.svg);
        background-repeat: no-repeat;
        background-size: cover;
        position: absolute;
        top: 850px;
        transform: rotate(180deg);
        z-index: -10;


    }

}

// Grid

.precios__grid{

    width: 90%;
    @include grid(1, 3, 1, 30px, 30px, center, center);

}

// Contenedor del grid y primera capa de posicionamiento

.precios__section{

    @include box(100%, auto, transparent, 20px, none);
    @include flexbox(row, center, center, 1);

}

// Segunda capa de posicionamiento y carta de precios

// Precios

.section{

    @include box(100%, auto, $negro, 20px, none);
    @include grid(0, 0, 0, 0px, 0px, center, center){


        grid-template-columns: 1fr;
        grid-template-rows: auto 3fr 1fr;

    }

    z-index: 1;
    border: $gris solid 2px;
    box-shadow: 5px 5px $gris, 10px 10px $gris;
    position: relative;
    min-height: 600px;
    max-width: 300px;

    &__estandar{

        @extend.section;

    }

    &__premium{

        @extend.section;

        border: rgb(223, 21, 82) solid 2px;
        box-shadow: 5px 5px rgb(223, 21, 82), 10px 10px rgb(223, 21, 82);

        & ul{

            list-style-type: '+  ';

        }

    }

    &__gold{

        @extend.section;

        border: rgb(235, 180, 47) solid 2px;
        box-shadow: 5px 5px rgb(235, 180, 47), 10px 10px rgb(235, 180, 47);

        & ul{

            list-style-type: '+  ';

        }

    }

}

// Header

.section__header{

    @include flexbox(row, flex-start, flex-start, 1);
    padding: 25px;
    height: 100%;
    width: 100%;
    box-sizing: border-box;

}

// Banners


.banner{

    &__estandar{

        color: $gris;
        background-color: rgba(110, 113, 133, 0.2);
        border-radius: 20px 20px 0px 0px;
        border-top: #99a3b9 solid 5px;
    }

    &__premium{

        @extend.banner__estandar;
        color: rgb(223, 21, 82);
        background-color: rgba(223, 21, 82, 0.2);
        border-top: rgb(223, 21, 82) solid 5px;

        & span{

            color: rgb(223, 21, 82, 0.5);

        }

    }

    &__gold{

        @extend.banner__estandar;
        color: rgb(235, 180, 47);
        background-color: rgb(235, 180, 47, 0.2);
        border-top: rgb(235, 180, 47) solid 5px;

        & span{

            color: rgb(235, 180, 47, 0.5);

        }

    }




}

// Main

.section__main{

    @include flexbox(column, center, flex-start, 1);
    padding: 15px;
    height: 100%;
    width: 100%;
    box-sizing: border-box;

}

.smain__lista{

    @include flexbox(column, flex-start, flex-start, 1);
    gap: 20px;

}

// Footer

.section__footer{

    @include flexbox (row, center, center, 1);
    padding: 10px;
    column-gap: 25px;
    row-gap: 0px;
    flex-wrap: wrap;
    height: 100%;
    width: 100%;
    box-sizing: border-box;

}
