// ========================================Base===========================================

@use '../base/base' as *;

// Extension del index

@use './index' as *;

// ========================================Precios===========================================

// Base

.precios__main{

    @extend.index__main;

}

// Grid

.precios__grid{

    width: 80%;
    @include grid(3, 1, 1, 40px, 20px, center, center);

}

// Contenedor del grid y primera capa de posicionamiento

.precios__section{

    @include box(100%, auto, transparent, 20px, none);
    @include flexbox(row, center, center, 1);

}

// Segunda capa de posicionamiento y carta de precios

// Precios

.section{

    @include box(100%, auto, $negro, 20px, none);
    @include grid(0, 0, 0, 0px, 0px, center, center){


        grid-template-columns: 1fr;
        grid-template-rows: auto 3fr 1fr;
        gap: 10px;

    }

    z-index: 1;
    border: $gris solid 2px;
    position: relative;
    max-width: 300px;

    &__estandar{

        @extend.section;

    }

    &__premium{

        @extend.section;

    }

    &__gold{

        @extend.section;

    }

}

// Header

.section__header{

    @include flexbox(row, flex-start, flex-start, 1);
    padding: 25px;
    height: 100%;
    width: 100%;
    box-sizing: border-box;

}

// Banners


.banner{

    &__estandar{

        color: $gris;
        background-color: rgba(110, 113, 133, 0.2);
        border-radius: 20px 20px 0px 0px;
        border-top: #99a3b9 solid 5px;
    }


}

// Main

.section__main{

    @include flexbox(column, center, flex-start, 1);
    padding: 15px;
    height: 100%;
    width: 100%;
    box-sizing: border-box;

}

.smain__lista{

    @include flexbox(column, flex-start flex-start, 1);
    gap: 20px;

}
