// ========================================Dependencias===========================================

@use '../base/colors' as *;

// ========================================Animaciones===========================================

// Borde arcoiris para cualquier complemento

@keyframes rainborder {

    0% {
        border: white solid 1px;
    }

    10% {
        border: rgb(199, 59, 59) solid 1px;
    }

    20% {
        border: yellow solid 1px;
    }

    30% {
        border: green solid 1px;
    }

    40% {
        border: blue solid 1px;
    }

    50% {
        border: orange solid 1px;
    }

    60% {
        border: tomato solid 1px;
    }

    70% {
        border: cyan solid 1px;
    }

    80% {
        border: purple solid 1px;
    }

    90% {
        border: yellowgreen solid 1px;
    }

    100% {
        border: rgb(189, 65, 48) solid 1px;
    }
}

// Fondo arcoiris para cualquier complemento

@keyframes rainbk {

    0% {
        background-color: white;
    }

    10% {
        background-color: rgb(199, 59, 59);
    }

    20% {
        background-color: yellow;
    }

    30% {
        background-color: green;
    }

    40% {
        background-color: blue;
    }

    50% {
        background-color: orange;
    }

    60% {
        background-color: tomato;
    }

    70% {
        background-color: cyan;
    }

    80% {
        background-color: purple;
    }

    90% {
        background-color: yellowgreen;
    }

    100% {
        background-color: rgb(189, 65, 48);
    }
}

// FLotando

@keyframes flotando {
    0%{transform: translateY(-5%); transition: ease-out;}
    50%{transform: translateY(5%); transition: ease-out;}
    100%{transform: translateY(-5%); transition: ease-out;}

}

// Tick

@keyframes tick {
    0%{color: $violeta;}
    50%{color: transparent;}

}

// Like

@keyframes like {

    30%{transform: rotate(0deg) translateY(10%);}
    33%{transform: rotate(-15deg) scale(1.3)translateY(-10%);}
    
}
