// ========================================Dependencias===========================================

@use '../base/colors' as *;
@use '../base/fuentes' as *;
@use '../utilidades/flex' as *;
@use './animaciones' as *;

// ========================================Botones===========================================

.boton {


    color: $violeta;
    border: $violeta solid 1px;
    border-radius: 60px;
    transition: all 0.2s;
    text-decoration: none;
    @include flexbox(row, center, center, 1);
    cursor: pointer;

    @media (hover: hover) {

        &:hover {

            background-color: white;
            color: $violeta__o;
            transform: scale(1.25);
            transition: all 0.2s;

        }

    }

    @media (hover: none) {

        &:active {

            background-color: white;
            color: $violeta__o;
            transform: scale(1.25);
            transition: all 0.2s;

        }

    }

    &__navbar {

        width: 40px;
        height: auto;
        aspect-ratio: 1/1;
        @extend.boton;

        &__rainbow {

            @extend.boton__navbar;
            animation: 4s rainborder linear infinite;

            @media (hover: hover) {

                &:hover {

                    animation: 4s rainbk linear infinite;
                    border: $violeta solid 1px;
                    color: white;
                    transform: scale(1.25);
                    transition: all 0.2s;

                }

            }

            @media (hover: none) {

                &:active {

                    background-color: white;
                    color: $violeta__o;
                    transform: scale(1.25);
                    transition: all 0.2s;

                }

            }


        }

    }

    &__normal {

        width: auto;
        height: auto;
        aspect-ratio: 16/5;
        padding: 10px;
        @extend.boton;
        background-color: transparent;

        &__rainbow {

            animation: 4s rainborder linear infinite;
            @extend.boton__normal;

        }

    }

    &__fill {

        @extend.boton;

        background-color: $violeta;
        border: $gris solid 1px;
        color: $gris;

        @media (hover: hover) {

            &:hover {

                border: $violeta solid 1px;
                color: $violeta__o;
                background-color: white;
                transform: scale(1.25);
                transition: all 0.2s;

            }

        }

        @media (hover: none) {

            &:active {

                border: $violeta solid 1px;
                color: $violeta__o;
                background-color: white;
                transform: scale(1.25);
                transition: all 0.2s;

            }

        }

    }

}
